.add-gig {
    .container {
        width: 80%;
        margin: 2rem auto 6rem auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .wrapper {
            display: flex;

            form {
                display: flex;
                width: 100%;

                input {
                    width: 80%;                 
                }

                button {
                    width: 10%;
                    min-width: fit-content;
                    background-color: #80679e;
                    color: white;
                    border: transparent;
                    padding: 5px 8px;

                    &:hover {
                        background-color: #664b87;
                        cursor: pointer;
                    }
                }
            }

            .left {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                button {
                    height: 3rem;
                    width: 90%;
                    background-color: #80679e;
                    color: white;
                    border: transparent;
                    padding: 5px 8px;

                    &:hover {
                        background-color: #664b87;
                        cursor: pointer;
                    }

                    &.disable {
                        cursor: not-allowed;
                        background-color: #b7b1be;
                    }
                }
            }

            .right {

                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 50%;
                gap: 1rem;
            }

            .addedFeatures{
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
                width: 90%;
                button{
                    height: 2rem;
                    font-size: 12px;
                    font-weight: 400;
                    background: transparent;
                    padding: 0.5rem;
                    outline: none;
                    border: none;
                    border : 1px solid;
                    display: flex;
                    align-items: center;
                    position: relative;
                    span{
                        font-size: 16px;
                        color: rgb(242, 237, 237);
                        position: absolute;
                        top : -0.7rem;
                        right: -0.5rem;
                        background-color: rgb(231, 10, 10);
                        height: 1.3rem;
                        width: 1.3rem;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            h4 {
                font-size: 1.2rem;
                font-weight: 400;
                color: gray;
            }

            input,
            select {
                height: 3rem;
                width: 90%;
                display: block;
                font-size: 1rem;
                padding: 0px 2px;
                outline-color: #664b87;
            }

            textarea {
                height: 12rem;
                width: 90%;
                resize: none;
                font-size: 1rem;
                padding: 5px 3px;
                outline-color: #664b87;
            }
        }



    }
}