td {
    padding: 10px 0;

    &:nth-of-type(1) {
        width: 10%;

        img {

            height: 2rem;
            object-fit: cover;
        }
    }

    &:nth-of-type(2) {
        width: 30%;
    }

    &:nth-of-type(4) {
        width: 30%;
    }

    &:nth-of-type(4) {
        width: 30%;
    }

    &:nth-of-type(5) {
        img {
            height: 1.5rem;
            object-fit: cover;

            &:hover {
                cursor: pointer;
            }
        }
    }
}